{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn
          unelevated
          color="primary"
          @click="formDialog.show = true"
          class="q-mr-md"
          >New Domain</q-btn
        >
        <q-btn unelevated color="primary" @click="addressFormDialog.show = true"
          >New Address</q-btn
        >
        <q-btn-dropdown
          v-if="g.user.admin"
          @click="settingsFormDialog.show=true"
          unelevated
          split
          color="primary"
          class="float-right"
          icon="settings"
        >
          <q-list>
            <q-item clickable v-close-popup
              ><q-item-section @click="rankingFormDialog.show = true">
                <q-item-label v-text="'Add Identifiers'"></q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup
              ><q-item-section @click="identifierFormDialog.show = true">
                <q-item-label v-text="'Manage Identifiers'"></q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Domains</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="domains"
          row-key="id"
          :columns="domainsTable.columns"
          v-model:pagination="domainsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="launch"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="'signup/' + props.row.id"
                  target="_blank"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="link"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="'api/v1/domain/' + props.row.id + '/nostr.json'"
                  target="_blank"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="delete"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="deleteDomain(props.row.id)"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="edit"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="'domain/' + props.row.id"
                  target="_blank"
                  class="q-mr-sm"
                ></q-btn>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Addresses</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportAddressesCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="addresses"
          row-key="id"
          :columns="addressesTable.columns"
          v-model:pagination="addressesTable.pagination"
          @request="getAddresses"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="link"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  target="_blank"
                  :href="'rotate/' + props.row.domain_id + '/' + props.row.id"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="check"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  :disable="props.row.active == true"
                  @click="activateAddress(props.row.domain_id, props.row.id)"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="edit"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="editAddress(props.row)"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="delete"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="deleteAddress(props.row.id)"
                ></q-btn>
              </q-td>

              <q-td v-text="props.row.id"></q-td>
              <q-td v-text="props.row.active"></q-td>

              <q-td>
                <q-tooltip>
                  <span>Domain ID:</span>
                  <span v-text="props.row.domain_id"></span
                ></q-tooltip>
                <span v-text="addressFullName(props.row)"></span>
              </q-td>
              <q-td v-text="props.row.pubkey"></q-td>
              <q-td
                v-text="props.row.reimburse_amount"
                @click="showReimburseInvoice(props.row)"
                class="cursor-pointer"
              >
              </q-td>
              <q-td v-text="props.row.time"></q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Nostr NIP-5 extension
        </h6>
        <p>
          <strong
            >Allow users to NIP-05 verify themselves at a domain you
            control</strong
          >
        </p>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "nostrnip5/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top" @hide="closeFormDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveDomain" class="q-gutter-md">
        <q-select
          v-if="!formDialog.data.id"
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        ></q-select>
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.currency"
          :options="currencyOptions"
          label="Currency *"
        ></q-select>
        <q-input
          v-if="!formDialog.data.id"
          filled
          dense
          v-model.trim="formDialog.data.domain"
          label="Domain"
          placeholder="nostr.com"
        ></q-input>
        <q-input
          filled
          dense
          v-model="formDialog.data.cost"
          type="number"
          min="0"
          step="any"
          label="Price per Year"
          placeholder="How much do you want to charge per address?"
        ></q-input>
        <q-input
          filled
          dense
          v-model="formDialog.data.cost_extra.max_years"
          type="number"
          min="1"
          step="1"
          label="Max Years"
          hint="Maximum number of years a user can have an address before renewing."
        ></q-input>

        <q-btn
          unelevated
          color="primary"
          :disable="formDialog.data.wallet == null || formDialog.data.currency == null"
          type="submit"
          >Create Domain</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto float-right"
          >Cancel</q-btn
        >
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog
    v-model="addressFormDialog.show"
    position="top"
    @hide="closeAddressFormDialog"
  >
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveAddress" class="q-gutter-md">
        <q-select
          v-if="!addressFormDialog.data.id"
          filled
          dense
          emit-value
          v-model="addressFormDialog.data.domain_id"
          :options="domainOptions"
          label="Domain *"
        ></q-select>
        <q-input
          filled
          dense
          v-model.trim="addressFormDialog.data.pubkey"
          label="Public Key"
          placeholder="npub or hex"
        ></q-input>
        <q-input
          v-if="!addressFormDialog.data.id"
          filled
          dense
          v-model.trim="addressFormDialog.data.local_part"
          label="Local Part"
          placeholder="benarc"
        ></q-input>
        <q-input
          filled
          dense
          v-model="addressFormDialog.data.relay"
          @keydown.enter="addRelayForAddress"
          type="text"
          label="Relay"
        >
          <q-btn @click="addRelayForAddress" dense flat icon="add"></q-btn>
        </q-input>
        <div>
          <q-chip
            v-for="relay in addressFormDialog.data.config.relays"
            :key="relay"
            removable
            @remove="removeRelayForAddress(relay)"
            color="primary"
            text-color="white"
            ><span v-text="relay"></span
          ></q-chip>
        </div>

        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="addressFormDialog.data.domain_id == null || addressFormDialog.data.pubkey == null || addressFormDialog.data.local_part == null"
            type="submit"
          >
            <span v-if="!addressFormDialog.data.id"> Create Address</span>
            <span v-else> Update Address</span></q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="rankingFormDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="addDomainRanking" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          map-options
          v-model="rankingFormDialog.data.bucket"
          :options="domainRankingAllOptions"
          label="Bucket"
        ></q-select>
        <q-input
          filled
          dense
          type="textarea"
          rows="10"
          v-model.trim="rankingFormDialog.data.identifiers"
          label="Identifiers"
          placeholder="identifiers"
          hint="One identifier per line"
        ></q-input>

        <div class="row q-mt-lg">
          <q-btn unelevated color="primary" type="submit">Update Ranking</q-btn>
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="identifierFormDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="searchIdentifier" class="q-gutter-md">
        <div class="row">
          <div class="col-8">
            <q-input
              filled
              dense
              v-model.trim="identifierFormDialog.data.searchText"
              label="Search Identifier"
              placeholder="Search"
            ></q-input>
          </div>
          <div class="col-4">
            <q-btn
              @click="searchIdentifier"
              type="submit"
              unelevated
              color="primary"
              class="float-right"
              >Search</q-btn
            >
          </div>
        </div>
        <div v-if="identifierFormDialog.data.identifier" class="row">
          <div class="col-8">
            <q-select
              filled
              dense
              emit-value
              map-options
              v-model="identifierFormDialog.data.identifier.rank"
              :options="domainRankingAllOptions"
              label="Bucket"
            ></q-select>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row q-mt-lg">
          <q-btn @click="updateIdentifier" unelevated color="primary"
            >Update Ranking</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="settingsFormDialog.show" position="top">
    <q-card
      v-if="settingsFormDialog.show"
      class="q-pa-lg q-pt-xl"
      style="width: 500px"
    >
      <h6 class="q-mt-none">Settings</h6>

      <q-form @submit="updateSettings" class="q-gutter-md">
        <div class="row">
          <div class="col-8">
            <q-input
              filled
              dense
              v-model.trim="settingsFormDialog.data.cloudflare_access_token"
              label="Cloudflare Access Token"
              hint="Domain ranking is fetched from CloudFlare. An access token must be provided."
              placeholder="Read-only access token"
            ></q-input>
          </div>
          <div class="col-4">
            <q-btn-dropdown
              v-if="g.user.admin"
              @click="refreshDomainRanking(200)"
              unelevated
              split
              color="primary"
              class="float-right"
              label="Refresh"
            >
              <q-list
                v-for="bracket in domainRankingBraketOptions"
                :key="bracket"
              >
                <q-item
                  clickable
                  v-close-popup
                  @click="refreshDomainRanking(bracket)"
                  ><q-item-section>
                    <q-item-label
                      v-text="'Refresh top '+ bracket + ' identifiers'"
                    ></q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </div>

        <q-expansion-item
          group="advanced"
          icon="alternate_email"
          label="Lightning Address"
          class="q-mt-lg"
        >
          <q-card>
            <q-card-section>
              <div class="row">
                <div class="col">
                  <q-input
                    filled
                    dense
                    v-model.trim="settingsFormDialog.data.lnaddress_api_endpoint"
                    label="Lightning Address API Endpoint"
                    hint="LNURLp requires an https endpoint."
                    placeholder="httsp://nostr.com"
                  ></q-input>
                </div>
              </div>
              <div class="row q-mt-lg">
                <div class="col">
                  <q-input
                    filled
                    dense
                    v-model.trim="settingsFormDialog.data.lnaddress_api_admin_key"
                    hint="This admin key must belong to an admin user."
                    label="Lightning Address Admin Key"
                  ></q-input>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>

        <div class="row q-mt-lg">
          <q-btn unelevated color="primary" type="submit">Update</q-btn>
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="qrCodeDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card text-center">
      <a
        class="text-secondary"
        :href="'lightning:' + qrCodeDialog.data.payment_request"
      >
        <q-responsive :ratio="1" class="q-mx-xs">
          <lnbits-qrcode
            :value="qrCodeDialog.data.payment_request"
          ></lnbits-qrcode>
        </q-responsive>
      </a>
      <br />
      <q-btn
        outline
        color="grey"
        @click="copyText('lightning:' + qrCodeDialog.data.payment_request, 'Invoice copied to clipboard!')"
        >Copy Invoice</q-btn
      >
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('nostrnip5/static', 'js/index.js') }}"></script>
{% endblock %}
