{% extends "public.html" %} {% block toolbar_title %} Rotate Keys For {{
domain.domain }} {% endblock %} {% from "macros.jinja" import window_vars with
context %} {% block page %}
<link rel="stylesheet" href="/nostrnip5/static/css/signup.css" />
<div>
  <q-card class="q-pa-lg q-pt-lg">
    <q-form @submit="updateAddress" class="q-gutter-md">
      <p>
        You can use this page to change the public key associated with your
        NIP-5 identity.
      </p>
      <p>
        Your current NIP-5 identity is {{ address.local_part }}@{{ domain.domain
        }} with nostr public key {{ address.pubkey }}.
      </p>

      <p>Input your new pubkey below to update it.</p>

      <q-input
        filled
        dense
        v-model.trim="formDialog.data.pubkey"
        label="New Pub Key"
        placeholder="abc234"
        :rules="[ val => val.length = 64 || val.indexOf('npub') === 0 ||'Please enter a hex pubkey' ]"
      >
      </q-input>

      <q-input
        filled
        dense
        v-model.trim="formDialog.data.secret"
        label="Rotation Secret"
      >
      </q-input>

      <div class="row q-mt-lg">
        <q-btn
          unelevated
          color="primary"
          :disable="formDialog.data.pubkey == null"
          type="submit"
          >Rotate Keys</q-btn
        >
      </div>
    </q-form>
  </q-card>
</div>
{% endblock %} {% block scripts %}
<script>
  const domain = '{{ domain.domain }}'
  const domain_id = '{{ domain_id }}'
  const address_id = '{{ address_id }}'
  const secret = '{{ secret }}'
</script>
<script src="{{ static_url_for('nostrnip5/static', 'js/rotate.js') }}"></script>
{% endblock %}
